@import './normalize.css';
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: #636060;
  font-weight: 400;
  font-family: "Inika", serif;
}

.container {
  width: 1220px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.blur-card {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.header {
  background-color: #EDF2EC;
}

.nav {
  display: flex;
  padding: 42px 0;
  align-items: center;
  gap: 702px;
}

.nav__logo {
  color: black;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  position: relative;
  top: -2px;
}

.nav__list {
  display: flex;
  gap: 46px;
}

.nav__item {
  color: #010201;
  line-height: 50px;
  font-size: 16px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.nav__item:hover {
  color: #E06733;
}

.active-link {
  color: #E06733;
  font-weight: 700;
}

.burger {
  display: none;
}

.burger__icon {
  display: none;
}

.burger__list > li {
  position: relative;
  margin: 0 0 0 20px;
}

body._touch .burger__list > li {
  display: flex;
  align-items: center;
}

body._touch .burger__link {
  flex: 1 1 auto;
}

.welcome {
  background-color: #EDF2EC;
  padding-bottom: 94px;
}

.welcome__wrapper {
  display: flex;
  gap: 224.2px;
}

.welcome__leafs {
  background-image: url("../assets/png/leafs.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 462px;
  height: 424px;
  position: relative;
  top: 52px;
  left: -3px;
}

.welcome__text {
  width: 549px;
  margin-top: 99px;
}

.welcome__header {
  font-weight: 700;
  color: #717171;
  line-height: 50px;
  font-size: 45px;
  margin-bottom: 42px;
  font-family: "Inter", sans-serif;
  width: 549px;
}
.welcome__header_green {
  font-family: "Inter", sans-serif;
  color: #499A18;
  font-size: 45px;
  line-height: 50px;
}

.welcome__sub-header {
  line-height: 35px;
  margin-bottom: 48px;
  width: 525px;
  font-family: "Inter", sans-serif;
}

.btn {
  width: 158px;
  height: 44px;
  background-color: initial;
  border: 2px solid #E06733;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  font-size: 16px;
  cursor: pointer;
}

.btn_welcome {
  position: relative;
  top: 0;
  left: 1px;
  font-family: "Inter", sans-serif;
}

.btn:hover {
  background-color: #E06733;
  color: white;
}

.about__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 93px;
  padding-bottom: 94px;
  align-items: center;
}

.about__description {
  width: 605px;
  height: 350px;
}

.about__header {
  font-size: 40px;
  line-height: 52px;
  color: #499A18;
  margin-bottom: 40px;
  width: 463px;
  position: relative;
  top: 1px;
  left: -1px;
}

.about__header_orange {
  color: #E06733;
}

.about__sub-header {
  line-height: 30px;
  font-family: "Inter", sans-serif;
  position: relative;
  top: 0;
  left: -2px;
}

.about__picture {
  background-image: url("../assets/png/houseplant.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 464px;
  height: 479px;
}

.service {
  background-color: #EDF2EC;
}

.service__wrapper {
  padding-top: 40px;
  padding-bottom: 121px;
}

.service__content {
  display: flex;
  align-items: center;
  gap: 142px;
  margin-bottom: 80px;
}

.service__header {
  font-size: 40px;
  line-height: 52px;
  color: #499A18;
  width: 306px;
  position: relative;
  top: -1px;
  left: -2px;
}

.service__buttons {
  display: flex;
  gap: 38px;
  position: relative;
  top: 2px;
  left: -1px;
}

.btn_service {
  border: 1px solid #E06733;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: #E06733;
  font-size: 20px;
  line-height: 26px;
  width: 161px;
  height: 50px;
  position: relative;
  top: -1px;
  left: -1px;
}

.service__cards {
  display: grid;
  grid-template-columns: repeat(3, 330px);
  gap: 55px 116px;
}

.service__card {
  width: 330px;
  height: 450px;
  text-align: center;
}

.service__picture {
  width: 100%;
  height: 350px;
  position: relative;
  top: 0;
  left: -1px;
}

.service__picture_one {
  background-image: url("../assets/png/first.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.service__picture_two {
  background-image: url("../assets/png/second.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.service__picture_three {
  background-image: url("../assets/png/third.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.service__picture_four {
  background-image: url("../assets/png/fourth.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.service__picture_five {
  background-image: url("../assets/png/fifth.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.service__picture_six {
  background-image: url("../assets/png/sixth.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.service__card-header {
  font-weight: 700;
  line-height: 20px;
  color: #E06733;
  margin-bottom: 10px;
  font-family: "Inter", sans-serif;
  position: relative;
  top: -2px;
  left: -2px;
}

.service__card-sub-header {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #717171;
  margin-bottom: 36px;
  position: relative;
  top: 2px;
  left: -2px;
}

.border-wrapper {
  border: 1px solid #E3E1D5;
  padding-top: 10px;
  border-radius: 0 0 20px 20px;
  -webkit-border-radius: 0 0 20px 20px;
  -moz-border-radius: 0 0 20px 20px;
  -ms-border-radius: 0 0 20px 20px;
  -o-border-radius: 0 0 20px 20px;
}

.active-service {
  background-color: #E06733;
  color: white;
}

.prices__wrapper {
  padding-top: 38px;
  display: flex;
  gap: 438px;
  margin-bottom: 115px;
}

.prices__call {
  text-align: right;
}

.prices__heading {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: black;
  margin-bottom: 60px;
  font-family: "Inter", sans-serif;
  position: relative;
  top: 0;
  left: -2px;
}

.prices__plan {
  display: flex;
  flex-direction: column;
  gap: 32px;
  border: 1px solid #E3E1D5;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding: 34px 41px;
}

.prices__items {
  width: 250px;
  height: 50px;
  background-color: #EDF2EC;
  border-color: inherit;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  line-height: 20px;
  color: black;
  font-weight: 700;
  padding-left: 33px;
  font-family: "Inter", sans-serif;
  position: relative;
  top: 0;
  left: -1px;
}

.prices__header {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: black;
  width: 452px;
  margin-bottom: 38px;
  font-family: "Inter", sans-serif;
  position: relative;
  top: 0;
  left: -4px;
}

.prices__header_green {
  color: #499A18;
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}

.btn_prices {
  font-weight: 700;
  margin-bottom: 39px;
  position: relative;
  top: 2px;
  left: -6px;
}

.prices__leafs {
  background-image: url("../assets/png/leafs2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 166px;
  height: 187px;
  margin: auto 0 auto auto;
  position: relative;
  top: -3px;
  left: 6px;
}

.prices__price {
  position: relative;
}

.dropdown {
  width: 250px;
  height: 50px;
  background: #EDF2EC;
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
  position: relative;
}

.dropdown::before {
  content: "";
  position: absolute;
  right: 20px;
  top: 16px;
  z-index: 999;
  width: 12px;
  height: 12px;
  border: 2px solid grey;
  border-top: transparent;
  border-right: transparent;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  pointer-events: none;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.dropdown input {
  width: 100%;
  height: 100%;
  background-color: #EDF2EC;
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
  cursor: pointer;
  border: none;
  outline: none;
  position: absolute;
  top: 0;
  left: 0;
  user-select: none;
  padding-left: 40px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: black;
}

.dropdown-basic-input::placeholder,
.dropdown-standard-input::placeholder,
.dropdown-pro-care::placeholder {
  color: black;
}

.dropdown .options {
  width: 100%;
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
  padding: 8px;
  cursor: pointer;
  background: inherit;
  border: none;
  outline: none;
  overflow: hidden;
  position: absolute;
  top: 54px;
  left: 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  opacity: 0;
  transform: translateY(-50px);
  -webkit-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  -o-transform: translateY(-50px);
  visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0.18);
  z-index: 10000;
}

.dropdown .options .option {
  padding: 16px;
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  color: #292d34;
}

.dropdown .options .option:not(:last-of-type) {
  margin-bottom: 8px;
}

.dropdown .options .option:hover {
  color: #499A18;
  background: #5BC5FA;
  box-shadow: 0 10px 25px rgba(42, 179, 248, 0.4);
}

.dropdown.opened .options {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

.dropdown.opened::before {
  transform: rotate(-225deg);
  -webkit-transform: rotate(-225deg);
  -moz-transform: rotate(-225deg);
  -ms-transform: rotate(-225deg);
  -o-transform: rotate(-225deg);
  top: 21px;
}

.option__header {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: black;
  margin-bottom: 12px;
}

.option__text {
  font-weight: 300;
  font-size: 10px;
  line-height: 10px;
  color: #717171;
  border-top: 0.5px solid #AEA1A1;
  padding-top: 6px;
  font-family: "Inter", sans-serif;
  margin-bottom: 6px;
}

.option__sub-text {
  font-size: 12px;
  line-height: 20px;
  color: black;
  margin-bottom: 12px;
}

.option__sub-text span {
  color: #E06733;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.option__sub-text span:nth-child(1) {
  font-size: 12px;
}

.option__btn {
  width: 86px;
  height: 25px;
  background-color: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #717171;
}

.contacts {
  background-color: #EDF2EC;
}

.contacts__wrapper {
  padding-top: 53px;
  display: flex;
}

.contacts__picture {
  background-image: url("../assets/png/woman.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 400px;
  height: 497px;
  margin-right: 113px;
  position: relative;
  top: -9px;
  left: -2px;
}

.contacts__header {
  margin-right: 64px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #499A18;
  position: relative;
  top: -2px;
  left: -2px;
}

.contacts__items {
  width: 450px;
  height: 50px;
  background-color: #D6E7D2;
  border: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  padding-left: 20px;
  line-height: 40px;
  letter-spacing: 0.05em;
  color: #717171;
  margin-top: 86px;
}

.options-contacts {
  display: flex;
  flex-direction: column;
  gap: 12px;
  top: 52px;
}

.option-contacts {
  font-family: "Inter", sans-serif;
  line-height: 40px;
  letter-spacing: 0.05em;
  color: #499A18;
  border-bottom: 1px solid #D9D9D9;
  padding: 0 35px;
}

.contacts__address {
  margin-top: 120px;
  width: 448px;
}

.address__canandaigua,
.address__ny,
.address__yonkers,
.address__sherrill {
  border: 1px solid black;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  display: none;
}

.address__canandaigua-wrapper,
.address__ny-wrapper,
.address__yonkers-wrapper,
.address__sherrill-wrapper {
  padding: 17px 32px 33px;
  display: flex;
  flex-direction: column;
}

.address__first-name {
  font-family: "Inter", sans-serif;
  line-height: 40px;
  letter-spacing: 0.05em;
  color: black;
}

.address__first-name span {
  font-family: "Inter", sans-serif;
}

.address__btn {
  border: 1px solid #E06733;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-size: 10px;
  line-height: 13px;
  font-weight: 700;
  width: 122px;
  height: 26px;
  margin: 24px auto 0;
  background-color: #EDF2EC;
  text-align: center;
  padding-top: 7px;
}

.address__btn:hover {
  background-color: #E06733;
}

.option-contacts:hover {
  color: #717171;
  border-color: #717171;
}

.contacts__items .dropdown-contacts-input {
  color: #717171;
  font-weight: 400;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.cg-color-input {
  background-color: #C1E698;
  color: #717171;
}

.footer__wrapper {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copyright {
  display: flex;
  gap: 20px;
  position: relative;
  top: 0;
  left: -1px;
}

.footer__symbol-copyright,
.footer__year,
.footer__github,
.footer__name {
  line-height: 50px;
  color: black;
  font-family: "Inter", sans-serif;
}

.footer__items {
  display: flex;
  gap: 20px;
}

.footer__name {
  position: relative;
  top: 1px;
  left: 9px;
}

.footer__social {
  position: relative;
  top: 3px;
  left: 1px;
}

@media (max-width: 1279.98px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }

  .nav,
.welcome__wrapper,
.prices__wrapper {
    gap: 0;
    justify-content: space-between;
  }

  .service__cards {
    gap: 55px;
  }

  .contacts__picture {
    margin-right: 55px;
  }
}
@media (max-width: 1199.98px) {
  .main {
    overflow: hidden;
  }

  .welcome__text {
    width: 520px;
  }

  .welcome__leafs {
    width: 430px;
    height: 380px;
  }

  .welcome__header,
.welcome__header_green {
    font-size: 35px;
  }

  .welcome__sub-header {
    line-height: 30px;
  }

  .about__header,
.service__header {
    font-size: 35px;
    line-height: 46px;
  }

  .service__cards {
    grid-template-columns: repeat(3, 280px);
    justify-content: center;
  }

  .service__card {
    width: 280px;
    height: 430px;
  }

  .contacts__picture,
.contacts__header {
    margin: 0;
  }

  .contacts__wrapper {
    justify-content: space-between;
  }

  .contacts__picture {
    top: 0;
  }

  .contacts__items {
    width: 350px;
  }
}
@media (max-width: 991.98px) {
  .container {
    padding: 0 50px;
  }

  .nav {
    padding: 35px 0;
    justify-content: flex-start;
    gap: 152px;
  }

  .nav__logo {
    top: -1px;
    left: 0;
  }

  .nav__logo svg {
    width: 20px;
    height: 20px;
    position: relative;
    top: -3px;
    left: -1px;
  }

  .welcome {
    padding-bottom: 70px;
  }

  .welcome__leafs {
    width: 280px;
    height: 254px;
    order: 2;
    top: 38px;
    left: 1px;
  }

  .welcome__text {
    width: 346px;
    order: 1;
    margin-top: 40px;
  }

  .welcome__header {
    width: auto;
    margin-bottom: 30px;
    position: relative;
    top: -3px;
    left: -1px;
  }

  .welcome__header_green {
    position: relative;
    top: -1px;
    left: -7px;
  }

  .welcome__sub-header {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 30px;
    width: auto;
    position: relative;
    top: -2px;
    left: 5px;
  }

  .btn_welcome {
    line-height: 20px;
    color: black;
    top: 2px;
    left: 0;
  }

  .about__wrapper {
    padding-top: 40px;
    flex-direction: column;
    padding-bottom: 138px;
  }

  .about__header {
    margin: 0 auto 40px;
    text-align: center;
    top: 1px;
    left: 0;
  }

  .about__sub-header {
    width: 668px;
    top: 13px;
    left: -32px;
  }

  .about__picture {
    width: 250px;
    height: 258px;
    position: relative;
    top: 43px;
    left: 0;
  }

  .service__wrapper {
    padding-top: 60px;
    padding-bottom: 70px;
  }

  .service__content {
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    margin-bottom: 40px;
  }

  .service__header {
    top: 0;
    left: 0;
  }

  .service__buttons {
    top: 3px;
    left: 0;
  }

  .service__cards {
    grid-template-columns: repeat(2, 280px);
    gap: 38px 106px;
  }

  .service__card {
    height: 450px;
  }

  .service__picture {
    border-radius: 20px 20px 0px 0px;
  }

  .service__card-header,
.service__card-sub-header {
    top: 1px;
    left: -1px;
  }

  .service__card-sub-header {
    width: 210px;
    margin: 0 auto 20px;
  }

  .prices__wrapper {
    padding-top: 40px;
    margin-bottom: 88px;
    justify-content: flex-start;
    gap: 40px;
  }

  .prices__heading {
    font-size: 35px;
    line-height: 42px;
    margin-bottom: 50px;
    top: 2px;
    left: 14px;
  }

  .prices__plan {
    position: relative;
    top: 9px;
    left: 1px;
  }

  .prices__items {
    top: -1px;
    left: 1px;
  }

  .prices__call,
.prices__header {
    width: 296px;
    margin-top: 54px;
  }

  .prices__header,
.prices__header_green {
    font-size: 25px;
    line-height: 35px;
  }

  .prices__header {
    margin-bottom: 22px;
    top: -6px;
    left: -2px;
  }

  .btn_prices {
    margin-bottom: 34px;
    top: 0;
    left: -2px;
  }

  .prices__leafs {
    width: 152px;
    height: 175px;
    top: 2px;
    left: 2px;
  }

  .contacts__wrapper {
    padding-top: 40px;
    flex-direction: column;
    align-items: center;
  }

  .contacts__header {
    order: 1;
    margin-bottom: 100px;
    top: 0;
    left: -1px;
  }

  .contacts__items {
    order: 2;
    width: 450px;
    margin-top: 0;
    margin-bottom: 250px;
    position: relative;
    top: -2px;
    left: 0;
    padding-left: 17px;
  }

  .contacts__picture {
    order: 3;
    width: 200px;
    height: 248px;
    top: -1px;
    left: 10px;
  }

  .footer__wrapper {
    flex-direction: column;
    padding: 19px 0 18px;
    gap: 16px;
  }

  .footer__copyright {
    align-items: center;
    top: 0;
    left: -3px;
  }

  .footer__symbol,
.footer__year,
.footer__github,
.footer__name {
    line-height: 24px;
  }

  .footer__github {
    position: relative;
    top: 0;
    left: 3px;
  }

  .footer__name {
    top: -13px;
    left: -1px;
  }

  .footer__social {
    top: -4px;
    left: 0;
  }
}
@media (max-width: 767.98px) {
  .container {
    padding: 0 25px;
  }

  .burger {
    display: block;
    position: relative;
    top: -3px;
    left: -10px;
  }

  .burger__icon {
    display: block;
    width: 30px;
    height: 18px;
    position: relative;
    cursor: pointer;
    z-index: 5;
  }

  .burger__icon span,
.burger__icon::before,
.burger__icon::after {
    position: absolute;
    left: 0;
    width: 40px;
    height: 2px;
    transition: all 0.3s ease;
    background-color: black;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
  }

  .burger__icon::before,
.burger__icon::after {
    content: "";
  }

  .burger__icon::before {
    top: 0;
  }

  .burger__icon::after {
    bottom: 0;
  }

  .burger__icon span {
    top: 50%;
    transform: scale(1) translate(0, -50%);
  }

  .burger__icon._active span {
    top: 50%;
    transform: scale(0) translate(0, -50%);
  }

  .burger__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
  }

  .burger__icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
  }

  .burger__body {
    position: fixed;
    top: 0;
    right: -100%;
    width: 165px;
    height: 300px;
    background-color: #E06733;
    padding: 70px 30px 30px 30px;
    transition: right 0.3s ease;
    overflow: auto;
    border-radius: 10px;
    -webkit-transition: right 0.3s ease;
    -moz-transition: right 0.3s ease;
    -ms-transition: right 0.3s ease;
    -o-transition: right 0.3s ease;
  }

  .burger__body._active {
    right: 0;
  }

  .burger__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    background-color: initial;
    z-index: 2;
  }

  .burger__list > li {
    margin: 0 0 10px 0;
  }

  .burger__list > li:last-child {
    margin-bottom: 0;
  }

  .burger__list {
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .burger__link {
    font-size: 16px;
  }

  .nav {
    justify-content: space-between;
  }

  .nav__list {
    display: none;
  }

  .nav__logo {
    top: 5px;
    left: 0;
  }

  .welcome {
    padding-bottom: 37px;
  }

  .welcome__leafs {
    display: none;
  }

  .welcome__text {
    width: 330px;
    margin-top: 24px;
  }

  .welcome__header {
    width: 100%;
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 20px;
    top: 7px;
    left: 0;
  }

  .welcome__header_green {
    top: 0;
    left: -6px;
  }

  .welcome__sub-header {
    margin-bottom: 20px;
    top: 7px;
    left: 0;
  }

  .btn_welcome {
    width: 100px;
    height: 34px;
    font-size: 10px;
    line-height: 20px;
    top: 13px;
  }

  .about__wrapper {
    padding: 31px 0 0;
  }

  .about__description {
    width: 100%;
  }

  .about__header {
    width: 100%;
    font-size: 25px;
    line-height: 33px;
    margin-bottom: 22px;
    top: 0;
  }

  .about__sub-header {
    width: 100%;
    font-size: 15px;
    line-height: 25px;
    top: -10px;
    left: 0;
  }

  .about__picture {
    width: 150px;
    height: 147px;
    top: -43px;
    left: 0;
  }

  .service__wrapper {
    padding-top: 18px;
    padding-bottom: 27px;
  }

  .service__content {
    gap: 35px;
  }

  .service__header {
    font-size: 25px;
    line-height: 33px;
    width: 187px;
  }

  .service__buttons {
    gap: 10px;
    flex-wrap: wrap;
  }

  .btn_service {
    width: 121px;
    height: 35px;
    font-size: 15px;
    top: 0;
    left: 0;
  }

  .service__cards {
    grid-template-columns: repeat(1, 280px);
    gap: 34px;
  }

  .service__picture {
    top: 2px;
    left: 1px;
  }

  .prices__wrapper {
    padding-top: 25px;
    flex-direction: column;
    align-items: center;
    gap: 19px;
    margin-bottom: 40px;
  }

  .prices__heading {
    font-size: 25px;
    line-height: 30px;
    margin: 0 auto 40px;
    text-align: center;
    top: 2px;
    left: 1px;
  }

  .prices__plan {
    padding: 29px 22px;
    gap: 14px;
    top: -1px;
    left: 1px;
  }

  .prices__items {
    width: 180px;
    font-size: 15px;
    padding-left: 24px;
  }

  .prices__call {
    width: 230px;
    margin-top: 0;
    text-align: center;
  }

  .prices__header,
.prices__header_green {
    width: 100%;
    font-size: 20px;
    line-height: 35px;
  }

  .prices__header {
    margin-top: 0;
    margin-bottom: 14px;
    top: -3px;
    left: 1px;
  }

  .btn_prices {
    margin-bottom: 0;
    top: 3px;
    left: -1px;
  }

  .prices__leafs {
    display: none;
  }

  .contacts__wrapper {
    padding-top: 25px;
    padding-bottom: 4px;
  }

  .contacts__header {
    font-size: 25px;
    line-height: 33px;
    margin-bottom: 80px;
    top: 3px;
    left: -2px;
  }

  .contacts__items {
    width: 300px;
    margin-bottom: 132px;
    top: 4px;
    left: -2px;
  }

  .contacts__picture {
    width: 100px;
    height: 124px;
    top: 4px;
    left: -2px;
  }

  .contacts__address {
    position: relative;
    left: -20px;
    width: 310px;
    margin-top: 80px;
  }

  .address__canandaigua-wrapper,
.address__ny-wrapper,
.address__yonkers-wrapper,
.address__sherrill-wrapper {
    padding: 15px 20px;
  }

  .address__first-name,
.address__first-name span {
    line-height: 30px;
    font-size: 12px;
  }

  .contacts__items {
    margin-bottom: 280px;
  }

  .footer__symbol-copyright,
.footer__year,
.footer__github {
    line-height: 24px;
  }

  .footer__copyright {
    top: 3px;
    left: -2px;
  }

  .footer__name {
    top: 3px;
    left: -1px;
  }

  .footer__social {
    top: -1px;
    left: 0;
  }
}

/*# sourceMappingURL=style.css.map */
