@import './normalize.css';

// Variables
$fs-16: 16px;
$fs-20: 20px;
$fs-40: 40px;
$fs-45: 45px;

$green: #499A18;
$orange: #E06733;
$light-grey: #717171;
$grey: #636060;
$smoke-grey: #E3E1D5;
$bg-section: #EDF2EC;
$black-links: #010201;
$bg-section-green: #D6E7D2;

$second-3: .3s;

$ff-inter: 'Inter', sans-serif;
$ff-inika: 'Inika', serif;

// Base settings
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: $fs-20;
    color: $grey;
    font-weight: 400;
    font-family: $ff-inika;
}

.container {
    width: 1220px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

// Styles

// ** Header ** //
.header {
    background-color: $bg-section;
}

.nav {
    display: flex;
    padding: 42px 0;
    align-items: center;
    gap: 702px;
}

.nav__logo {
    color: black;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    position: relative;
    top: -2px;
}

.nav__list {
    display: flex;
    gap: 46px;
}

.nav__item {
    color: $black-links;
    line-height: 50px;
    font-size: $fs-16;
}

.active-link {
    color: $orange;
    font-weight: 700;
}

// ** Welcome ** //
.welcome {
    background-color: $bg-section;
    padding-bottom: 94px;
}

.welcome__wrapper {
    display: flex;
    gap: 224.2px;
}

.welcome__leafs {
    background-image: url('../assets/png/leafs.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 462px;
    height: 424px;
    position: relative;
    top: 52px;
    left: -3px;
}

.welcome__text {
    width: 549px;
    margin-top: 99px;
}

.welcome__header {
    font-weight: 700;
    color: $light-grey;
    line-height: 50px;
    font-size: $fs-45;
    margin-bottom: 42px;
    font-family: $ff-inter;
    width: 549px;

    &_green {
        font-family: $ff-inter;
        color: $green;
        font-size: $fs-45;
        line-height: 50px;
    }
}

.welcome__sub-header {
    line-height: 35px;
    margin-bottom: 48px;
    width: 525px;
    font-family: $ff-inter;
}

.btn {
    width: 158px;
    height: 44px;
    background-color: initial;
    border: 2px solid $orange;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: $second-3;
    -webkit-transition: $second-3;
    -moz-transition: $second-3;
    -ms-transition: $second-3;
    -o-transition: $second-3;
    font-size: $fs-16;
}

.btn_welcome {
    position: relative;
    top: 0;
    left: 1px;
    font-family: $ff-inter;
}

.btn:hover {
    background-color: $orange;
    color: white;
}

// ** About ** //

.about__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 93px;
    padding-bottom: 94px;
    align-items: center;
}

.about__description {
    width: 605px;
    height: 350px;
}

.about__header {
    font-size: $fs-40;
    line-height: 52px;
    color: $green;
    margin-bottom: 40px;
    width: 463px;
    position: relative;
    top: 1px;
    left: -1px;
}

.about__header_orange {
    color: $orange;
}

.about__sub-header {
    line-height: 30px;
    font-family: $ff-inter;
    position: relative;
    top: 0;
    left: -2px;
}

.about__picture {
    background-image: url('../assets/png/houseplant.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 464px;
    height: 479px;
}

// ** Service ** //

.service {
    background-color: $bg-section;
}

.service__wrapper {
    padding-top: 40px;
    padding-bottom: 121px;
}

.service__content {
    display: flex;
    align-items: center;
    gap: 142px;
    margin-bottom: 80px;
}

.service__header {
    font-size: $fs-40;
    line-height: 52px;
    color: $green;
    width: 306px;
    position: relative;
    top: -1px;
    left: -2px;
}

.service__buttons {
    display: flex;
    gap: 38px;
    position: relative;
    top: 2px;
    left: -1px;
}

.btn_service {
    border: 1px solid $orange;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: $orange;
    font-size: $fs-20;
    line-height: 26px;
    width: 161px;
    height: 50px;
    position: relative;
    top: -1px;
    left: -1px;
}

.service__cards {
    display: grid;
    grid-template-columns: repeat(3, 330px);
    gap: 55px 116px;
}

.service__card {
    width: 330px;
    height: 450px;
    text-align: center;
}

.service__picture {
    width: 100%;
    height: 350px;
    position: relative;
    top: 0;
    left: -1px;
}

.service__picture_one {
    background-image: url('../assets/png/first.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.service__picture_two {
    background-image: url('../assets/png/second.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.service__picture_three {
    background-image: url('../assets/png/third.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.service__picture_four {
    background-image: url('../assets/png/fourth.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.service__picture_five {
    background-image: url('../assets/png/fifth.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.service__picture_six {
    background-image: url('../assets/png/sixth.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.service__card-header {
    font-weight: 700;
    line-height: 20px;
    color: $orange;
    margin-bottom: 10px;
    font-family: $ff-inter;
    position: relative;
    top: -2px;
    left: -2px;
}

.service__card-sub-header {
    font-family: $ff-inter;
    font-size: $fs-16;
    line-height: 20px;
    color: $light-grey;
    margin-bottom: 36px;
    position: relative;
    top: 2px;
    left: -2px;
}

.border-wrapper {
    border: 1px solid $smoke-grey;
    padding-top: 10px;
    border-radius: 0 0 20px 20px;
    -webkit-border-radius: 0 0 20px 20px;
    -moz-border-radius: 0 0 20px 20px;
    -ms-border-radius: 0 0 20px 20px;
    -o-border-radius: 0 0 20px 20px;
}

// ** Prices ** //

.prices__wrapper {
    padding-top: 38px;
    display: flex;
    gap: 438px;
    margin-bottom: 115px;
}

.prices__call {
    text-align: right;
}

.prices__heading {
    font-weight: 700;
    font-size: $fs-40;
    line-height: 48px;
    color: black;
    margin-bottom: 60px;
    font-family: $ff-inter;
    position: relative;
    top: 0;
    left: -2px;
}

.prices__plan {
    display: flex;
    flex-direction: column;
    gap: 32px;
    border: 1px solid $smoke-grey;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 34px 41px;
}

.prices__items {
    width: 250px;
    height: 50px;
    background-color: $bg-section;
    border-color: inherit;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    line-height: 20px;
    color: black;
    font-weight: 700;
    padding-left: 33px;
    font-family: $ff-inter;
    position: relative;
    top: 0;
    left: -1px;
}

.prices__header {
    font-weight: 700;
    font-size: $fs-40;
    line-height: 50px;
    color: black;
    width: 452px;
    margin-bottom: 38px;
    font-family: $ff-inter;
    position: relative;
    top: 0;
    left: -4px;
}

.prices__header_green {
    color: $green;
    font-size: $fs-40;
    line-height: 50px;
    font-weight: 700;
    font-family: $ff-inter;
}

.btn_prices {
    font-weight: 700;
    margin-bottom: 39px;
    position: relative;
    top: 2px;
    left: -6px;
}

.prices__leafs {
    background-image: url('../assets/png/leafs2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 166px;
    height: 187px;
    margin: auto 0 auto auto;
    position: relative;
    top: -3px;
    left: 6px;
}

// ** Contacts ** //

.contacts {
    background-color: $bg-section;
}

.contacts__wrapper {
    padding-top: 53px;
    display: flex;
}

.contacts__picture {
    background-image: url('../assets/png/woman.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 400px;
    height: 497px;
    margin-right: 113px;
    position: relative;
    top: -9px;
    left: -2px;
}

.contacts__header {
    margin-right: 64px;
    font-weight: 700;
    font-size: $fs-40;
    line-height: 52px;
    color: $green;
    position: relative;
    top: -2px;
    left: -2px;
}

.contacts__items {
    width: 450px;
    height: 50px;
    background-color: $bg-section-green;
    border: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    padding-left: 20px;
    line-height: 40px;
    letter-spacing: .05em;
    color: $light-grey;
    margin-top: 86px;
}

// ** Footer ** //

.footer__wrapper {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__copyright {
    display: flex;
    gap: 20px;
    position: relative;
    top: 0;
    left: -1px;
}

.footer__symbol-copyright,
.footer__year,
.footer__github,
.footer__name {
    line-height: 50px;
    color: black;
    font-family: $ff-inter;
    
}

.footer__items {
    display: flex;
    gap: 20px;
}

.footer__name {
    position: relative;
    top: 1px;
    left: 9px;
}

.footer__social {
    position: relative;
    top: 3px;
    left: 1px;
}